body {
    background-color: #222222;
    background: repeating-linear-gradient(90deg,
            #2b2b2b 0%,
            #2b2b2b 10%,
            #222222 0%,
            #222222 50%) 0 / 15px 15px;
    text-align: center;
}

h2 {
    margin-top: 50px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(102, 102, 102);
}

.outter {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background: url(https://media4.giphy.com/media/yTrcALesdjU5O/giphy.gif?cid=ecf05e47e9j30fnr3l2lge3fkx4rb0m3s0relvlcyzxlraeg&rid=giphy.gif&ct=g);
    margin: 100px auto;
    box-shadow: 0px 0px 100px black;
    position: relative;
}

.inner {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    animation-name: dark;
    transition: transform 0.3s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@keyframes dark {
    from {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: none;
        }
        
    to {
        width: 300px;
        height: 300px;
        border-radius: 300px;
        background: url(https://media2.giphy.com/media/U3qYN8S0j3bpK/giphy.gif?cid=ecf05e47i4e9a6cn8yojthjz4izlcudq6p017hvpm56snltl&rid=giphy.gif&ct=g);
        box-shadow: 0px 0px 100px yellow;
        }

}

a {
    text-align: center;
    font-size: 7em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: rgb(231, 223, 195);
}

a:hover {
        color: rgb(114, 79, 4);
        text-shadow: 0px 0px 100px yellow;
        transform: rotate(180deg);
        /* opacity: 0.5; */
}

.hover:hover {
    transform: scale(2);
    background: url(https://media4.giphy.com/media/zL65JMG3LD5S0/giphy.gif?);
    background-position: ;
}